{%- comment -%}
  Renders a quantity selector for a given product

  Accepts:
  - block {block} - Block object
  - product {product} - Product object

  Usage:
    {% render 'block.product-quantity-selector', block: block %}
{%- endcomment -%}

{% stylesheet %}
	.product__quantity {
	  & label {
	    display: block;
	    margin-bottom: 10px;
	  }
	}
{% endstylesheet %}

{%- liquid
  assign product = section.settings.product | default: product
  assign form_id = 'product-form-' | append: section.id
-%}

<block-quantity-selector {{ block.shopify_attributes }}>
  <div class="product__quantity">
    {%- assign quantity_selector_id = 'Quantity-' | append: section.id | append: '-' | append: product.id -%}

    <label for="{{ quantity_selector_id }}">
      {% render 'utility.translate', key: 'labels.quantity', fallback: 'Quantity' %}
    </label>
    {%- render 'element.quantity-selector', id: quantity_selector_id, form_id: form_id -%}
  </div>
</block-quantity-selector>
